<button mat-button (click)="back()">BACK</button>

<form *ngIf="dataLoaded" [formGroup]="milestoneForm" class="mat-dialog-content" (ngSubmit)="saveMilestone()">
  <mat-form-field *ngIf="milestoneName == ''">
    <mat-label>Milestone Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <div *ngIf="currentMilestone">
    <h4>You are currently editing {{milestoneName}} [ID Number {{currentMilestone.milestoneID}}] </h4>
  </div>
  <h5>This milestone is for grade level {{mYearLevel}} </h5>
  <mat-form-field>
    <mat-label>Milestone Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <div *ngFor="let task of tasks.controls; let i=index">
      <mat-checkbox [formControl]="getFormControlTask(task)">
          {{yearTasks[i].name}}
          <!-- TODO: edit button  -->
      </mat-checkbox>
      <div>
        <p *ngIf="getFormControlTask(task).disabled">
          This task is part of milestone ID {{yearTasks[i].milestoneID}}
        </p>
      </div>
      <button mat-button type='button' (click)="openTaskEditModal(yearTasks[i].name, yearTasks[i])">EDIT</button>
  </div>
  <button mat-button type="submit" [disabled]="!milestoneForm.status">Submit</button>
</form>