<div id="modal-content-wrapper">
<form *ngIf="dataLoaded" [formGroup]="milestoneForm" class="mat-dialog-content" (ngSubmit)="saveMilestone()">
  <div class="header">
    <div *ngIf="currentMilestone">
      <h4>You are currently editing {{milestoneName}} [ID Number {{currentMilestone.milestoneID}}] </h4>
    </div>
    <h5>This milestone is for grade level {{mYearLevel}} </h5>
  </div>
  <div class="milestone-description">
  <mat-form-field>
    <mat-label>Milestone Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  </div>
  <div class="task-item" *ngFor="let task of tasks.controls; let i=index">
      <mat-checkbox [formControl]="getFormControlTask(task)" (change)="assignTask($event, yearTasks[i])">
          {{yearTasks[i].name}}
          <!-- TODO: edit button  -->
      </mat-checkbox>
      <div>
        <p *ngIf="getFormControlTask(task).disabled">
          This task is part of milestone ID {{yearTasks[i].milestoneID}}
        </p>
      </div>
      <button mat-raised-button type='button' (click)="openTaskEditModal(yearTasks[i].name, yearTasks[i])">EDIT</button>
  </div>
  <button mat-raised-button class="form-create-task-button" type='button' (click)="openTaskEditModal(mYearLevel, null)">Create New {{mYearLevel}} Task</button><br />
  <div class="form-footer">
    <button mat-raised-button class="form-back-button" type="button" (click)="back()">BACK</button>
    <button mat-raised-button class="form-submit-button" type="submit" [disabled]="!milestoneForm.status">Submit</button>
  </div>
</form>
</div>