@import "../../../common";

mat-card-title {
  /* CSS styles go here */
  margin: 0px; // for example to remove the margin
  font-weight: bold;
}

.flex-vertical-align {
  display: flex;
  align-items: center;
}

.mdc-button {
  background-color: @oswego-green;
  color:white;
}

.mat-mdc-button:not(:disabled) {
  color:white;
}
