<button mat-button (click)="back()">BACK</button>

<form class="mat-dialog-content" (ngSubmit)="saveMilestone()">
  <mat-form-field *ngIf="milestoneName == ''">
    <mat-label>Milestone Name</mat-label>
    <input matInput>
  </mat-form-field>
  <div *ngIf="milestoneName != ''">
    <h4>You are currently editing {{milestoneName}}</h4>
  </div>
  <mat-form-field>
    <mat-label>Select Year Level</mat-label>
    <mat-select>
      <mat-option *ngFor="let yearLevel of yearLevels" value="{{yearLevel}}">{{yearLevel}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Milestone Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>