<div class="app-container">
  <div class="header-container">
    <div class="logo">
      <app-oswego-logo [sizeFactor]=".3"></app-oswego-logo>
    </div>
    <div class="title-container">
      <p>Career Readiness Dashboard</p>
    </div>

    <div class="header">
      <div class="header-AI-button" *ngIf="needsNavBar()">
        <img class="header-AI-img" src="../assets/images/Filler.jpg" alt="Oswego Logo">
        <p class = "AI-button-text">AI Business Advisor<br>Ask all your 
        advisement and career questions</p>
      </div>

      <ng-container *ngIf="needsNavBar()">
        <app-logout-button class="logout-button"></app-logout-button>
      </ng-container>
    </div>
  </div>

  <div class="body-container">
    <ng-container *ngIf="needsNavBar()">
      <app-navbar class="navbar"></app-navbar>
    </ng-container>
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
  
  </div>