<div class="body">
  <mat-list class="matList">
  <h3 mat-subheader class="matListTitle">Tasks</h3>
    <div mat-lis-item class="matListItem taskBar taskText">
      <p class="taskTitle"> Task </p>
      <p class="taskDate"> Year Level </p>
    </div>
    <button mat-list-item class="matListItem" [class.overdue]="isTaskOverdue(task)" *ngFor="let task of tasksList" (click)="openTask(task)">
      <div class="taskText">
        <p class="taskTitle">{{task.name}}</p>
        <p class="taskDate">{{task.yearLevel}}</p>
      </div>
    </button>
</mat-list>
</div>
