@import "../../common";

.body {
  padding-top: 1em;
  padding-bottom: 1em;
}

.matList {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
}
.matListTitle {
    font-weight: bold;
}
.matListItem {
    background-color: white;
    border: none;
    display: flex;
    width: 95%;
    margin: 1vh;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.matListItem:not(.taskBar):hover {
  background-color: lightgray;
  cursor: pointer;
}

.overdue p {
  display:flex;
  color: red;
  font-weight: bold;
}

.taskBar {
  background-color: #F0F6F3;
  padding: 1em;
  font-weight: bold;
  box-shadow: none;
}

.taskText {
  display: flex;
  justify-content: space-between;
  margin: 1vh;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.taskTitle {
  text-align: left;
  justify-content: center;
}

.taskTitleOverDue{
  display: flex;
  align-items: center;
}

.warning{
  margin: 0 10px 0 0;
}

.taskDate {
  text-align: right;
  justify-content: center;
}

#logout-button {
  color: white;
  background-color: #16163f;
  border: 1px solid black;
}

#delete-product-button {
  color: white;
  background-color: #145214;
  border: 1px solid black;
}

