<div id="modal-content-wrapper">
  <form *ngIf="dataLoaded" [formGroup]="taskForm" class="form-content" (ngSubmit)="saveTask()">
    <header id="modal-header">
      <h5>This task is for {{tYearLevel}} </h5>
      <div *ngIf="taskName == ''">
        <h4>Create New Task</h4>
      </div>
      <div *ngIf="taskName != ''">
        <h4>Editing {{taskName}}</h4>
      </div>
    </header>
    <mat-form-field *ngIf="taskName == ''">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name">
  </mat-form-field>
      <mat-form-field>
        <mat-label>Task Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <div>
          <label>Task type: </label>
          <mat-radio-group formControlName="taskType">
            <mat-radio-button [value]="artifactType">Artifact</mat-radio-button>
            <mat-radio-button [value]="eventType">Event</mat-radio-button>
            <mat-radio-button [value]="commentType">Comment</mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="getTaskType() == artifactType">
          <mat-form-field>
              <mat-label>Artifact Name</mat-label>
              <input matInput formControlName="artifactName">
          </mat-form-field>
        </div>
        <div *ngIf="getTaskType() == eventType">
          <mat-form-field>
              <mat-label>Select Event</mat-label>
              <mat-select formControlName="event">
                <div *ngFor="let event of eventList">
                  <mat-option [value]="event.eventID">{{event.name}}</mat-option>
                </div>
              </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Submission Instructions</mat-label>
          <input matInput formControlName="instructions">
      </mat-form-field>
    <footer id="modal-footer">
      <button mat-raised-button class="modal-cancel-button" type="button" (click)="closeModal()">
          Back
      </button>
      <button mat-raised-button class="modal-submit-button" type="submit" [disabled]="!taskForm.status">Submit</button>
    </footer>
  </form>
</div>