<p>task-main-page works!</p>

<mat-tab-group animationDuration="0ms">
    <div class="year-container" *ngFor="let yearLevel of yearLevels">
        <mat-tab label="{{yearLevel}}">
            <mat-list>
                <ng-container *ngFor="let task of taskMap.get(yearLevel)">
                    <mat-list-item>
                        <span matListItemTitle>{{task.name}}</span>
                        <span matListItemLine>Second line</span>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </mat-tab>
    </div>
  </mat-tab-group>
