
<ul>
  <li class="milestone" *ngFor="let milestone of milestones">
    <div class="title-container" (click)="milestone.expanded = !milestone.expanded">
      <span class="title">{{ milestone.name }}</span>
      <span class ="arrow" [ngClass]="{ 'arrow-up': milestone.expanded, 'arrow-down': !milestone.expanded }"></span>
    </div>
    <ng-container *ngIf="milestone.expanded">
      <div class="content">{{ milestone.yearLevel }}</div>
      <ul>
        <li *ngFor="let task of milestone.tasks">
          <div class="title-container" (click)="task.expanded = !task.expanded">
            <div>{{task.description}}</div>
            <span class ="arrow" [ngClass]="{ 'arrow-up': task.expanded, 'arrow-down': !task.expanded }"></span>
          </div>
          <ng-container *ngIf="task.expanded">
            <div class="content">
              <button mat-button color="primary">submission</button>
            </div>
          </ng-container>
        </li>
      </ul>
      <ng-container *ngFor="let event of milestone.events">
        <div class="content">
          <div>{{event.name}}</div>
          <div >{{event.description}}</div>
          <div >{{event.date | date:'short'}}</div>
          <div >{{event.organizer}}</div>
          <div >{{event.location}}</div>
        </div>
      </ng-container>

    </ng-container>
  </li>
</ul>
