@import "../../../common";

.year-card {
  background-color: @oswego-green;
  color: white;
  width: 200px;
  mat-card-header {
    padding: 10px 16px;
    justify-content: center;

    .year-name {
      font-size: 18px;
    }
  }
}
