<div *ngIf="dataLoaded">
<div class="year-container" *ngFor="let yearLevel of yearLevels">
  <mat-card class="year-card">
    <mat-card-header>
      <div class="year-name">{{yearLevel}}</div>
    </mat-card-header>
  </mat-card>


  <mat-accordion multi>
    <ng-container *ngFor="let milestone of milestonesMap.get(yearLevel)">
      <mat-expansion-panel [expanded]="!completedMilestones.includes(milestone.milestoneID)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox [disabled]="true" [checked]="completedMilestones.includes(milestone.milestoneID)" 
              color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
            {{milestone.name}}
          </mat-panel-title>
<!--  Use if we want to display a description -->
<!--          <mat-panel-description>-->
<!--            {{milestone.description}}-->
<!--          </mat-panel-description>-->
        </mat-expansion-panel-header>
          <mat-expansion-panel *ngFor="let task of milestone.tasks">

          <mat-expansion-panel-header #panelH (click)="panelH._toggle(); openTask(task)">
            <div class="flex-vertical-align">
              <mat-checkbox [disabled]="true" [checked]="completedTasks.includes(task.taskID)" 
                color="primary" (click)="$event.stopPropagation()">
                {{task.name}}
              </mat-checkbox>
            </div>
          </mat-expansion-panel-header>
          <div>{{task.description}}</div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

</div>
</div>