

<ng-container *ngFor="let yearLevel of YearLevels">
  <mat-card class="year-card">
    <mat-card-header>
      <div class="year-name">{{yearLevel}}</div>
    </mat-card-header>
  </mat-card>


  <mat-accordion>
    <ng-container *ngFor="let milestone of milestones">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{milestone.name}}
          </mat-panel-title>
<!--  Use if we want to display a description -->
<!--          <mat-panel-description>-->
<!--            {{milestone.description}}-->
<!--          </mat-panel-description>-->
        </mat-expansion-panel-header>
        <p *ngFor="let task of milestone.tasks">{{task.description}}</p>
        <ng-container *ngFor="let event of milestone.events">
          <div>{{event.description}}</div>
          <div>{{event.date | date:'short'}}</div>
          <div>{{event.organizer}}</div>
          <div>{{event.location}}</div>
          <div>&nbsp;</div>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

</ng-container>
