<div class="event-container">
  <h1>
    Events
  </h1>
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="true"
            [noWrap]="!noWrap"
            [interval]="0"
            [startFromIndex]="0"
            [showIndicators]="false"
            [isAnimated]="true">
    <slide *ngFor="let slide of slides; let index=index">
      <img [class.default-logo]="slide.img == defaultLogoURL" class="event-image"
           [ngSrc]="slide.img" width="500" height="200" alt="event image">
      <div class="carousel-caption">
        <h4>{{slide.name}}</h4>
        <div class="date">
          <mat-icon>calendar_month</mat-icon>
          <span>{{slide.date}}</span>
        </div>
        <button *ngIf="index % 2 === 0" mat-stroked-button color="primary" (click)="goToLink(slide.eventLink)">{{slide.description}}</button>
        <button *ngIf="index % 2 === 1" mat-raised-button color="primary" (click)="goToLink(slide.eventLink)">{{slide.description}}</button>
      </div>
    </slide>
    </carousel>
</div>

