<mat-card>
  <mat-card-header>
    <h2>
      Events
    </h2>
  </mat-card-header>
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="true"
            [noWrap]="!noWrap"
            [interval]="0"
            [startFromIndex]="0"
            [showIndicators]="false"
            [isAnimated]="true">
    <slide *ngFor="let slide of slides; let index=index">
      <img [class.default-logo]="slide.img == defaultLogoURL" class="event-image"
           [ngSrc]="slide.img" width="500" height="200" alt="event image">
      <div class="carousel-caption">
        <h4>{{slide.name}}</h4>
        <div>{{slide.date}}</div>
        <div>{{slide.description}}</div>
      </div>
    </slide>
    </carousel>
</mat-card>
