@import "../../../common";

.user-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .user-button {
    margin: 0 25px 0 25px;
    padding: 0;
    min-width: unset;
    height: unset;
    border-radius: 100%;

    .profile-picture {
      border-radius: 100%;
    }

    .profile-picture-placeholder {
      .mat-icon-size(50px);
      margin: 0;
    }
  }
}

.ai-button {
  ::ng-deep span {
    align-items: center;
    display: flex;
  }

  .ai-img {
    margin-left: -6px;
  }
}

