@import "../../common";

.error-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #F0F6F3;
  border-radius: 25px;
  padding: 50px;
  margin: 100px;
}

.error-container h1 {
  font-size: 6em;
  color: @oswego-green;
}

.error-container p {
  font-size: 1.5em;
  color: @oswego-green;
}
