<!DOCTYPE html>
<div class="list-input">
  <label class="label">{{ label }}</label>
  <div *ngFor="let control of arrayControls(); let i = index">
    <mat-form-field
      class="list-item"
      appearance="outline"
      [hidden]="deleted.has(i)"
    >
      <input
        matInput
        [value]="getValue(control.value)"
        (input)="setValue(control, $event)"
        id="item-{{ i }}"
        type="text"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="delete(control, i)"
        [attr.aria-label]="'Delete item {{ i }}'"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required') && control.touched">
        Please specify a value.
      </mat-error>
    </mat-form-field>
  </div>
  <button class="add-button" type="button" mat-button (click)="addInput()">
    {{ addText }}
  </button>
</div>
