<div class="submission-content">
  <div class="submission-instructions">
    {{task.submissionInstructions}}
  </div>
  
  <ng-container *ngIf="needsArtifact()">
    <div class="submission-file-upload">
        <app-file-upload (artifactIdEmitter)="onArtifactId($event)"></app-file-upload>
    </div>
  </ng-container> 
  
  <mat-form-field class="submission-comments">
    <textarea matInput [placeholder]="'Comment...'" [(ngModel)]="commentString"></textarea>
  </mat-form-field>
  
  <div class="submission-buttons">
    <button mat-raised-button color="primary" (click)="onCancel()" [disabled]="!isEnabled()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!isEnabled() || !canSubmit()">Submit</button>
  </div>
</div>
