.submission-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .submission-instructions {
    margin: 20px;
    font-size: large;
  }
  
  .submission-file-upload {
    width: 90%;
  }
  
  .submission-body {
    width: 100%;
  }
  
  .submission-comments {
    width: 80%;
    padding-top: 20px;
  }
  
  .submission-buttons {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  
    button {
        width: 40%;
    }
  }
}