<div class="delete-resume-modal-container">
    <mat-dialog-content>

        <div class="delete-resume-modal-header">
            Delete Resume?
        </div>

        <div class="delete-resume-modal-body">
            Are you sure you want to delete your resume?
        </div>

        <div class="delete-resume-modal-buttons">
            <button mat-raised-button color="primary" (click)="onCancel()">No</button>
            <button mat-raised-button color="primary" (click)="onConfirm()">Yes</button>
        </div>

    </mat-dialog-content>
</div>