// SUNY Oswego colors
@oswego-green: #235937;
@oswego-sunset-gold: #FFCC33;
@oswego-gray: #FBFBFB;

// fonts
@font-family-bebas-neue: 'Bebas Neue Pro', sans-serif;
@font-family-adobe-garamond: 'Adobe Garamond Pro', serif;
@font-family-roboto-condensed: 'Roboto Condensed', sans-serif;
@font-family-roboto: 'Roboto', sans-serif;

// Min width for mobile
@min-screen-width: 480px;

// Use to set material icon height/width/font-size to same size
.mat-icon-size(@size) {
  height: @size;
  font-size: @size;
  width: @size;
  line-height: @size;
}
