.navbar {
  background-color: green;
  color: #fff;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}
