<h1>Profile</h1>

<div class="section-container">
    <div class="section">
        <div>INSERT PROFILE PICTURE</div>
        <div class="card-header">{{user.firstName}} {{user.lastName}}</div>
        <div class="card-body">
            <p>Preferred Name: {{user.preferredName}}</p>
            <p>Email: {{user.email}}</p>
            <p>Phone: {{user.phoneNumber}}</p>
            <p>Address: </p>
            <p>LinkedIn: </p>

        </div>
    </div>
</div>

<div class="section-container">
    <div class="section">
        <div class="card-header">
            Details
        </div>
        <div class="card-body">
            <!-- Content for Card 1 goes here -->
            <div class="card-body-section">
                <div class="card-body-section-header">
                    Student ID
                </div>
                <div class="card-body-section-body">
                    {{user.studentDetails?.universityId}}
                </div>
                <div class="card-body-section-header">
                    Student Status
                </div>
                <div class="card-body-section-body">
                    IDK
                </div>
                <div class="card-body-section-header">
                    Year Level
                </div>
                <div class="card-body-section-body">
                    {{user.studentDetails?.yearLevel}}
                </div>
                <div class="card-body-section-header">
                    Majors
                </div>
                <div class="card-body-section-body">
                    <ul>
                        <div *ngFor="let degreeProgram of user.studentDetails?.degreePrograms">
                            <li *ngIf="!degreeProgram.isMinor">{{degreeProgram.name}}</li>
                        </div>
                    </ul>
                </div>
                <div class="card-body-section-header">
                    Minor
                </div>
                <div class="card-body-section-body">
                  <ul>
                    <ul>
                        <div *ngFor="let degreeProgram of user.studentDetails?.degreePrograms">
                            <li *ngIf="degreeProgram.isMinor">{{degreeProgram.name}}</li>
                        </div>
                    </ul>
                  </ul>
                </div>
                <div class="card-body-section-header">
                    Clubs
                </div>
                <div class="card-body-section-body">
                  <ul>
                    <li>Club 1</li>
                    <li>Club 2</li>
                    <li>Club 3</li>
                  </ul>
                </div>
                <div class="card-body-section-header">
                    Language Skills
                </div>
                <div class="card-body-section-body">
                    <ul *ngFor="let skill of user.studentDetails?.skills">
                        <li *ngIf="skill.isLanguage">{{skill.name}}</li>
                    </ul>
                </div>
                <div class="card-body-section-header">
                    Academic Year
                </div>
                <div class="card-body-section-body">
                    2023-2024
                </div>
                <div class="card-body-section-header">
                    Interests
                </div>
                <div class="card-body-section-body">
                    <ul>
                      <li>Interest 1</li>
                      <li>Interest 2</li>
                      <li>Interest 3</li>
                    </ul>
                </div>
                <div class="card-body-section-header">
                    Coops and Internships
                </div>
                <div class="card-body-section-body">
                    <div *ngFor="let job of user.studentDetails?.jobs">
                        <div *ngIf="job.isCoop">
                            <p>{{job.name}}</p>
                            <ul>
                                <li>{{job.location}}</li>
                                <li>{{job.description}}</li>
                                <li>Start Date: {{job.startDate}}</li>
                                <li>End Date: {{job.endDate}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-container">

</div>