<h1>Profile</h1>

<div class="section-container">
    <div class="section">
        <div class="card-header">
            Details
        </div>
        <div class="card-body">
            <!-- Content for Card 1 goes here -->
            <div class="card-body-section">
                <div class="card-body-section-header">
                    Student ID
                </div>
                <div class="card-body-section-body">
                    1234567890
                </div>
                <div class="card-body-section-header">
                    Student Status
                </div>
                <div class="card-body-section-body">
                    IDK
                </div>
                <div class="card-body-section-header">
                    Year Level
                </div>
                <div class="card-body-section-body">
                    Senior
                </div>
                <div class="card-body-section-header">
                    Majors
                </div>
                <div class="card-body-section-body">
                  <ul>
                    <li>Major 1</li>
                    <li>Major 2</li>
                    <li>Major 3</li>
                  </ul>
                </div>
                <div class="card-body-section-header">
                    Minor
                </div>
                <div class="card-body-section-body">
                  <ul>
                    <li>Minor 1</li>
                    <li>Minor 2</li>
                    <li>Minor 3</li>
                  </ul>
                </div>
                <div class="card-body-section-header">
                    Clubs
                </div>
                <div class="card-body-section-body">
                  <ul>
                    <li>Club 1</li>
                    <li>Club 2</li>
                    <li>Club 3</li>
                  </ul>
                </div>
                <div class="card-body-section-header">
                    Language Skills
                </div>
                <div class="card-body-section-body">
                  <ul>
                    <li>Skill 1</li>
                    <li>Skill 2</li>
                    <li>Skill 3</li>
                  </ul>
                </div>
                <div class="card-body-section-header">
                    Academic Year
                </div>
                <div class="card-body-section-body">
                    2023-2024
                </div>
                <div class="card-body-section-header">
                    Interests
                </div>
                <div class="card-body-section-body">
                    <ul>
                      <li>Interest 1</li>
                      <li>Interest 2</li>
                      <li>Interest 3</li>
                    </ul>
                </div>
                <div class="card-body-section-header">
                    Coops
                </div>
                <div class="card-body-section-body">
                    <ul>
                      <li>Coop 1</li>
                      <li>Coop 2</li>
                      <li>Coop 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-container">

</div>