@import '../../../common.less';

.resume-card {
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: @oswego-box-shadow;
    min-height: 50vh;

    .upload {
      width: 100%;
      flex-grow: 1;
      .center();

      mat-icon {
        transform: scale(2);
      }
    }

    pdf-viewer {
      width: 100% !important;
      aspect-ratio: 8.5 / 11;
      overflow-x: hidden;
      border-radius: 10px;

      ::ng-deep .ng2-pdf-viewer-container {
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
}

.resume-container {
  position: relative;

  .delete {
    padding: 0;
    margin-bottom: -30px;
    align-self: start;
    z-index: 1;
  }
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
