<div class="footer-container">
    <div class="">
    <footer class="text-center text-lg-start border-bottom">
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                <app-oswego-logo [sizeFactor]=".3" [color]="'white'"></app-oswego-logo>
              </h6>
              <p>
                7060 State Route 104<br>
                Oswego,NY 13126-3599<br>
                315.312.2500
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Campus
              </h6>
              <p>
                <a href="#!" class="text-reset">Contact US</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Commitment to Safety</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Library</a>
              </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Resources
              </h6>
              <p>
                <a href="#!" class="text-reset">A-Z Index</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Accessibility</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Careers at Oswego</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Consumer Information:<br>
                Student Right to Know</a>
              </p>
              <p>
                <a href="#!" class="text-reset">People Search</a>
              </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                More
              </h6>
              <p>
                <a href="#!" class="text-reset">Report an Accessibility Issue</a>
              </p>
              <p>
                <a href="#!" class="text-reset">About this Site</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Privacy Policy</a>
              </p>
            </div>
          </div>
        </div>
      </section>
    </footer>
      <div class="footer-extras">
        <mat-icon>home</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>facebook</mat-icon>
      <div class="footer-copyright">
        &#64; State University of New York at Oswego
      </div>
      </div>
    </div>
  </div>

