<h1>Portfolio</h1>

<div class="section-container">
  <div class="section">
    <div class="card-header">
      Details
    </div>
    <div class="card-body">
      <!-- Content for Card 1 goes here -->
      <div class="card-body-section">
        <div class="card-body-section-header">
          Personal
        </div>
        <div class="card-body-section-body">
          <div class="card-body-section-image">

          </div>
          <div class="card-body-section-data">
            <ul>
              <li>Name: {{user.firstName}} {{user.lastName}}</li>
              <li>Preferred Name</li>
              <li>Description</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Education
        </div>
        <div class="card-body-section-body">
          <ul>
            <li>Majors</li>
            <li>Minors</li>
            <li>School Year</li>
            <li>GPA</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Skills
        </div>
        <div class="card-body-section-body">
          <!-- PAR HYD DEV NOTE: Needs to loop though all uploaded skills and store them in a list -->
          <ul>
            <li>Skill 1</li>
            <li>Skill 2</li>
            <li>Skill 3</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Projects
        </div>
        <div class="card-body-section-body">
          <ul>
            <li>Project 1</li>
            <li>Project 2</li>
            <li>Project 3</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Jobs
        </div>
        <div class="card-body-section-body">
          <ul>
            <li>Jobs 1</li>
            <li>Jobs 2</li>
            <li>Jobs 3</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Co-ops
        </div>
        <div class="card-body-section-body">
          <ul>
            <li>Coop 1</li>
            <li>Coop 2</li>
            <li>Coop 3</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Milestones
        </div>
        <div class="card-body-section-body">
          <app-milestones></app-milestones>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card-header">
      Resume
    </div>
    <mat-card class="resume-card">
      <button mat-button (click)="openDialog()">
        <mat-icon>upload_file</mat-icon>
      </button>
    </mat-card>
  </div>
</div>



