<h1>Portfolio</h1>

<div class="section-container">
  <div class="section">
    <div class="card-header">
      Details
    </div>
    <div class="card-body">
      <!-- Content for Card 1 goes here -->
    </div>
  </div>

  <div class="section">
    <div class="card-header">
      Resume
    </div>
    <mat-card class="resume-card">
      <button mat-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
  </div>

<!--  <div class="card">-->
<!--    <div class="card-header">-->
<!--      Milestones-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <app-milestones></app-milestones>-->
<!--    </div>-->
<!--  </div>-->
</div>



