<h1>Portfolio</h1>

<div class="section-container">
  <div class="section">
    <div class="card-header">
      Details
    </div>
    <div class="card-body">
      <div class="card-body-section">
        <div class="card-body-section-header">
          Personal
        </div>
        <div class="card-body-section-body">
          <div class="card-body-section-image">

          </div>
          <div class="card-body-section-data">
            <ul>
              <li>Name: {{user.firstName}} {{user.lastName}}</li>
              <li>Preferred Name: {{user.preferredName}}</li>
              <li>Description: {{user.studentDetails?.description}}</li>
              <li>Email: {{user.email}}</li>
              <li>Phone: {{user.phoneNumber}}</li>
              <li>LinkedIn: </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Education
        </div>
        <div class="card-body-section-body">
          Majors: 
          <ul>
            <div *ngFor="let degreeProgram of user.studentDetails?.degreePrograms">
              <li *ngIf="!degreeProgram.isMinor">{{degreeProgram.name}}</li>
            </div>
          </ul>
          Minors:
          <ul>
            <div *ngFor="let degreeProgram of user.studentDetails?.degreePrograms">
              <li *ngIf="degreeProgram.isMinor">{{degreeProgram.name}}</li>
            </div>
          </ul>
          <ul>
            <li>University ID: {{user.studentDetails?.universityId}}</li>
            <li>School Year: {{user.studentDetails?.yearLevel}}</li>
            <li>GPA: {{user.studentDetails?.gpa}}</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Skills
        </div>
        <div class="card-body-section-body">
          <ul *ngFor="let skill of user.studentDetails?.skills">
              <li *ngIf="!skill.isLanguage">{{skill.name}}</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Language Skills
        </div>
        <div class="card-body-section-body">
          <ul *ngFor="let skill of user.studentDetails?.skills">
            <li *ngIf="skill.isLanguage">{{skill.name}}</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Projects
        </div>
        <div class="card-body-section-body">
          <div *ngFor="let project of user.studentDetails?.projects">
            <p>{{project.name}}</p>
            <ul>
              <li>{{project.description}}</li>
              <li>Start Date: {{project.startDate}}</li>
              <li>End Date: {{project.endDate}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Jobs
        </div>
        <div class="card-body-section-body">
          <div *ngFor="let job of user.studentDetails?.jobs">
            <div *ngIf="!job.isCoop">
            <p>{{job.name}}</p>
            <ul>
              <li>{{job.location}}</li>
              <li>{{job.description}}</li>
              <li>Start Date: {{job.startDate}}</li>
              <li>End Date: {{job.endDate}}</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Co-ops and Internships
        </div>
        <div class="card-body-section-body">
          <div *ngFor="let job of user.studentDetails?.jobs">
            <div *ngIf="job.isCoop">
            <p>{{job.name}}</p>
            <ul>
              <li>{{job.location}}</li>
              <li>{{job.description}}</li>
              <li>Start Date: {{job.startDate}}</li>
              <li>End Date: {{job.endDate}}</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Clubs
        </div>
        <div class="card-body-section-body">
          <ul *ngFor="let club of user.studentDetails?.clubs">
            <li>{{club.name}}</li>
            <li>{{club.startDate.toLocaleString("en-US", {month: "long", year: "numeric", day: "numeric"})}}</li>
            <li>{{club.endDate.toLocaleString("en-US", {month: "long", year: "numeric", day: "numeric"})}}</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Interests
        </div>
        <div class="card-body-section-body">
          <ul *ngFor="let interest of user.studentDetails?.interests">
            <li>{{interest.name}}</li>
          </ul>
        </div>
      </div>
      <div class="card-body-section">
        <div class="card-body-section-header">
          Milestones
        </div>
        <div class="card-body-section-body">
          <app-milestones></app-milestones>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card-header">
      Resume
    </div>
    <mat-card class="resume-card">
      <button mat-button *ngIf="showUploadButton" (click)="openDialog()">
        <mat-icon>upload_file</mat-icon>
      </button>
      <pdf-viewer
        *ngIf="!showUploadButton"
        [src]="pdfURL"
        [render-text]="true"
        [original-size]="false"
        style="width: 400px; height: 500px"
      ></pdf-viewer>
    </mat-card>
  </div>
</div>