<!-- this is from milestones-page -->
<div *ngIf="dataLoaded">

<h1>Milestone Progress of {{currentStudent.firstName}} {{currentStudent.lastName}}</h1>

<div class="year-container" *ngFor="let completionStatus of completionStatuses">
  <mat-card class="year-card">
    <mat-card-header>
      <div class="year-name">{{completionStatus}}</div>
    </mat-card-header>
  </mat-card>


  <mat-accordion multi>
    <ng-container *ngFor="let milestone of completedMap.get(completionStatus)">
      <mat-expansion-panel [expanded]="!completedMilestones.includes(milestone.milestoneID)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-checkbox [disabled]="true" [checked]="completedMilestones.includes(milestone.milestoneID)" 
              color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
            {{milestone.name}}
          </mat-panel-title>

        </mat-expansion-panel-header>
          <mat-expansion-panel [disabled]="!completedTasks.includes(task.taskID)"  *ngFor="let task of milestone.tasks">

          <mat-expansion-panel-header (click)="openTask(task)">
            <div class="flex-vertical-align">
              <mat-checkbox [disabled]="true" [checked]="completedTasks.includes(task.taskID)" 
                color="primary" (click)="$event.stopPropagation()">
                {{task.name}}
              </mat-checkbox>
            </div>
          </mat-expansion-panel-header>
          <div>Change this to show submission comment</div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>

</div>
</div>