<h1>Dashboard</h1>

<div class="page-container">
  <div class="calendar-stub">
    <app-events></app-events>
  </div>
  <div class="info-cards">

    <!-- TODO replace this with the notifications component  -->
    <app-milestones></app-milestones>
  </div>
<!--  <mat-list style="border: 1px solid black;-->
<!--    background-color: #235937;-->
<!--    display: flex;-->
<!--    flex-direction: column;-->
<!--    justify-content: center;-->
<!--    align-items: center;-->
<!--    margin: auto;-->
<!--    width: 100vh;">-->
<!--    <h3 mat-subheader style="color:white;">Tasks</h3>-->
<!--    <a mat-list-item style="background-color: white;-->
<!--    border: 1px solid black;-->
<!--    display: flex;-->
<!--    flex-direction: column;-->
<!--    align-items: center;" *ngFor="let link of linkList" href={{link.url}}>-->
<!--      {{link.label}}-->
<!--    </a>-->
<!--  </mat-list>-->
<!--  <app-task-widget></app-task-widget>-->
  <app-tasklist></app-tasklist>
</div>



